@using TodoList.Models.DTOs.DisplayDtos;

@model IEnumerable<DisplayTaskViewModel>

@foreach (var item in Model)
{
    <div class="task">

        @if (item.IsCompleted)
        {
            <span><s>@item.Title</s></span>
            <span><s>@item.ExpirationDate</s></span>
        }
        else
        {
            <span>@item.Title</span>
            <span>@item.ExpirationDate</span>
        }
        <span style="color:#a3cef1;text-align:center;">@item.CategoryName</span>
        @using (Html.BeginForm("Remove", "Task", new { id = item.Id }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <button class="remove icon"><i class="bi bi-trash" style="font-size:22px;"></i></button>
        }

        @using (Html.BeginForm("UpdateState", "Task", new { id = item.Id,state=item.IsCompleted ? false : true}, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @if (item.IsCompleted)
            {
                <button class="update icon"><i class="bi bi-arrow-counterclockwise" style="font-size:22px;"></i></button>
            }
            else
            {
                <button class="update icon"><i class="bi bi-check-lg" style="font-size:22px;"></i></button>
            }
        }

    </div>
}
